<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <title>Vue.js Weather App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="script.js" defer></script>

</head>

<body id="app">
    <nav id="navBar" class="contentBlock">
        <div id="topURLDiv">
            <a href="index.html" class="toplink">Weather App</a>
            <a href="Plan.html" class="toplink">Software Development Plan</a>
        </div>
    </nav>
    <div id="titleBlock">
        <h2>Vue.js Weather App</h2>
    </div>
    <div class="contentBlock">
        <div>
            <h3 class="child">Location</h3>
            <p class="child" v-if="locationJson === undefined">Will you calm down? We're working on getting yo location data, take a chill pill.</p>
            <p class="child" v-else-if="locationJson">You are located in {{ locationJson.city }} {{ locationJson.region
                }}, {{
                locationJson.country }} at coordinates { {{ locationJson.latitude }}, {{ locationJson.longitude }} }
            </p>
            <p v-else>Something went wrong, we could not find your location!</p>
        </div>
    </div>
    <div class="contentBlock" id="currentCond">
        <div>
            <h3 class="child">Current Conditions</h3>
            <p class="child" v-if="currWeatherData === undefined">Will you calm down? We're working on getting yo current weather data, take a chill pill.
            </p>
            <div v-else-if="currWeatherData">
                <p class="child">Current weather data on {{ currDate }}:</p>
                <ul>
                    <li>Currently {{ weatherVals.currTemp }}°F</li>
                    <li>High {{ weatherVals.highTemp }} °F</li>
                    <li>Low {{ weatherVals.lowTemp }} °F</li>
                    <li>{{ weatherVals.descr }}</li>
                    <li>{{ weatherVals.humidity }}% humidity</li>
                    <li>{{ weatherVals.pressure }} hPA pressure</li>
                </ul>
            </div>
        </div>
    </div>
    <div v-if="error" class="contentBlock" id="errorBlock" v-on:click="deleteDiv">
        <p>Error: {{ error }} ------ Click to Delete</p>
    </div>
    <div class="contentBlock" id="forecast">
        <h3>5 Day 3-hour Forecast</h3>
        <p class="content"><span id="red">{{ unlikely }} unlikely</span><span id="gray">{{ neutral }} neutral</span><span
                id="green">{{ likely }} likely</span></p>
        <p v-if="forecast === undefined" class="content">Fetching the forecast for the next 5 days in 3 hour increments.</p>
        <div v-else>
            <div v-for="(prediction, idx) in forecast">
                <div :class="getState(idx)" v-on:click="colorToggle" :data-index="idx">
                    <h4>Conditions for {{ localeString(prediction.dt) }}</h4>
                    <ul>
                        <li>Temperature {{ prediction.main.temp }} °F</li>
                        <li>{{ prediction.weather[0].description }}</li>
                        <li>{{ prediction.main.humidity }}% humidity</li>
                        <li>{{ prediction.main.pressure }} hPa pressure</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>





</html>